name: Publish to Packagist

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    
    steps:
      - name: Trigger Packagist Hook
        run: |
          curl --fail --show-error -X POST \
            -H "Content-Type: application/json" \
            -d '{"repository":{"url":"https://github.com/gfpcom/freeproxy-php"}}' \
            "https://packagist.org/api/update-package?username=${{ secrets.PACKAGIST_USERNAME }}&apiToken=${{ secrets.PACKAGIST_API_TOKEN }}"
